.footer-area {
    background: #091b27;
}
.section_gap {
    padding: 130px 0;
}

.single-footer-widget{
    line-height: 25px;
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    color: #777;
}
.footer-bottom {
    background: #071721;
    padding: 32px;
}
.footer-bottom .footer-text {
    color: #fff;
    margin-bottom: 0;
}
.single-footer-widget {
    color: #fff;
}
.footer_title{
    font-size: 35px;
    font-weight: bold;
}

.single-footer-widget{
    line-height: 25px;
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    color: #777;
}
.tp_widgets .list li a {
    color: #777;
    font-family: "Roboto",sans-serif;
}
.footerUl li{
    margin-top: 12px;
    margin-right: 18px;
}

